* {
    box-sizing: border-box;
}

#page__title {
    width: 40px;
    padding: 10px;
}

#page__logo {
    width: 35px;
    margin-bottom: 4px;;
}

#page__header {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.page__header__item:first-child {
    display: flex;
    margin-left: 50px;
}

.page__header__item:last-child {
    align-self: center;
}

#search__container {
    background: transparent;
    padding: 8px;
    border-radius: 25px;
    width: 460px;
    margin-right: 40px;
    border: 0.15em solid #EEEEEE;
}

#line {
    width: 95%;
    background-color: #EEEEEE;
    height: 2px;
    margin: auto;
}

#body {
    display: flex;
    justify-content: center;
    padding: 40px;
}

div#search__by {
    padding-left: 60px;
}

.search__by {
    color: #C1C1C1;
}

#spacer {
    margin: 60px;
 } 


#pokemons__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
    grid-gap: 40px;
    padding: 0px 100px;
    flex-grow: 1;
}

.grid__item {
background-color: #D9D9D9;
padding: 40px;
border-radius: 5px;
}
